@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

.hidden {
  display: none;
  position: absolute;
  top: -5000px;
}

body {
  background-color: #222;
}

.back {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.9;
}

main {
  width: 100%;
  min-height: 220vh;
  margin-bottom: 100px;
}
main .frame section {
  position: absolute;
  opacity: 0;
  transition: 0.2s;
}
main .frame section.on {
  opacity: 1;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: rgba(34, 34, 34, 0.8);
  z-index: 100;
}
header .inner {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .inner h1 {
  width: 150px;
  height: 100%;
  margin-left: 20px;
  margin-top: 15px;
}
header .inner h1 a {
  position: relative;
}
header .inner h1 a img {
  width: 100px;
  margin-bottom: 10px;
}
header .inner h1 span {
  position: absolute;
  width: 150px;
  bottom: 0;
  left: 0;
  font: 12px/1 "맑은 고딕";
  color: #fff;
}
header .inner nav .gnb {
  display: flex;
  position: relative;
  margin-right: 20px;
}
header .inner nav .gnb li a {
  text-align: center;
  display: block;
  width: 8vw;
  height: 80px;
  color: #fff;
  font: bold 14px/80px "맑은 고딕";
  transition: 0.5s;
}
header .inner nav .gnb li a:hover {
  transform: scale(1.1);
}
header .inner .buy {
  width: 250px;
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: #0c4da2;
  transition: background-color 0.5s;
  overflow: hidden;
}
header .inner .buy a {
  display: block;
  width: 250px;
  height: 40px;
  color: #fff;
  font: bold 18px/40px "맑은 고딕";
  transition: color 0.5s;
}
header .inner .buy:hover {
  background-color: #fff;
}
header .inner .buy:hover a {
  color: #0c4da2;
}
header .inner .buy:hover div {
  left: 210px;
}
header .inner .buy div {
  position: relative;
  left: -190px;
  width: 300px;
  height: 40px;
  background: linear-gradient(rgb(255, 255, 255), rgb(252, 252, 217), rgb(243, 215, 242), rgb(255, 255, 255));
  transform: rotate(45deg);
  transition: 0.5s;
  box-shadow: 1px 1px 20px 20px #fff;
}
header .btns {
  width: 300px;
  float: right;
  background-color: rgba(34, 34, 34, 0.8);
}
header .btns ul {
  display: flex;
  justify-content: center;
}
header .btns ul .btn {
  width: 50px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .btns ul .btn.on .clip {
  border: 2px solid #fff;
}
header .btns ul .btn.on span {
  font: bold 17px/1 "arial";
}
header .btns ul .btn:hover .clip {
  border: 2px solid #fff;
}
header .btns ul .btn .clip {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
header .btns ul .btn span {
  font: 12px/1 "arial";
}
header .btns ul .btn:nth-of-type(1) .clip {
  background: linear-gradient(#fff, #9cc2d1);
}
header .btns ul .btn:nth-of-type(1) span {
  background: linear-gradient(#fff, #9cc2d1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
header .btns ul .btn:nth-of-type(2) .clip {
  background: linear-gradient(#e8ff96, #abf0a9);
}
header .btns ul .btn:nth-of-type(2) span {
  background: linear-gradient(#e8ff96, #abf0a9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
header .btns ul .btn:nth-of-type(3) .clip {
  background: linear-gradient(#fcd6fd, #b09df7);
}
header .btns ul .btn:nth-of-type(3) span {
  background: linear-gradient(#fcd6fd, #b09df7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
header .btns ul .btn:nth-of-type(4) .clip {
  background: linear-gradient(#d8d8d8, #5b5c5c);
}
header .btns ul .btn:nth-of-type(4) span {
  background: linear-gradient(#d8d8d8, #5b5c5c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#visual {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 200px 20px 20px 20px;
}
#visual ul {
  display: flex;
  justify-content: space-around;
  transition: 0.5s;
}
#visual ul li {
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transform: rotateY(0deg);
  transition: 0.5s;
  position: relative;
  cursor: pointer;
}
#visual ul li img {
  width: 100%;
}
#visual ul li:hover {
  transform: scale(1.02);
}
#visual ul li.on:hover {
  transform: scale(1);
}
#visual ul li:nth-of-type(1) {
  animation: top 1s forwards;
}
#visual ul li:nth-of-type(2) {
  animation: top 1s 0.5s forwards;
}
#visual ul li:nth-of-type(3) {
  animation: top 1s 1s forwards;
}
#visual ul li:nth-of-type(4) {
  animation: top 1s 1.5s forwards;
}
#visual .AwesomePop div {
  display: none;
}
#visual .AwesomePop div.on {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.8);
}
#visual .AwesomePop div.on div {
  margin: 0 auto;
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#visual .AwesomePop div.on div h3 {
  margin-bottom: -50px;
  color: #fff;
  font: bold 30px/1 "맑은 고딕";
}
#visual .AwesomePop div.on div .onAwesomeImg {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#visual .AwesomePop div.on div .onAwesomeImg li {
  margin-bottom: -40px;
}
#visual .AwesomePop div.on div .onAwesomeImg li img {
  display: block;
}
#visual .AwesomePop div.on div .onAwesomeImg li:hover {
  transform: scale(1);
}
#visual .AwesomePop div.on div .onAwesomeImg li:nth-of-type(1) {
  width: 100%;
}
#visual .AwesomePop div.on div .onAwesomeImg li:nth-of-type(1) img {
  border-radius: 110px;
  width: 100%;
}
#visual .AwesomePop div.on div .onAwesomeImg li:nth-of-type(2) {
  width: 25%;
  height: 250px;
}
#visual .AwesomePop div.on div .onAwesomeImg li:nth-of-type(2) img {
  border-radius: 80px;
  width: 100%;
}
#visual .AwesomePop div.on div .onAwesomeImg li:nth-of-type(3) {
  width: 25%;
  height: 250px;
}
#visual .AwesomePop div.on div .onAwesomeImg li:nth-of-type(3) img {
  border-radius: 80px;
  width: 100%;
}
#visual .AwesomePop div.on div .onAwesomeImg li:nth-of-type(4) {
  width: 25%;
  height: 250px;
}
#visual .AwesomePop div.on div .onAwesomeImg li:nth-of-type(4) img {
  border-radius: 80px;
  width: 100%;
}
#visual .AwesomePop div.on div .close {
  position: absolute;
  right: 20%;
  top: 20%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
#visual .AwesomePop div.on div .close::before, #visual .AwesomePop div.on div .close::after {
  position: absolute;
  right: 20%;
  top: 20%;
  content: "";
  display: block;
  width: 5px;
  height: 50px;
  background-color: #fff;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
}
#visual .AwesomePop div.on div .close::before {
  transform: rotate(45deg);
}
#visual .AwesomePop div.on div .close::after {
  transform: rotate(-45deg);
}
#visual .AwesomePop div.on div .close:hover::before {
  transform: rotate(-45deg);
}
#visual .AwesomePop div.on div .close:hover::after {
  transform: rotate(45deg);
}
#visual .txt {
  padding-top: 20px;
  margin: 0 auto;
  width: 50%;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#visual .txt a {
  position: relative;
  margin-top: 50px;
  color: #fff;
  font: bold 25px/1 "arial";
}
#visual .txt a span::before, #visual .txt a span::after {
  display: block;
  content: "";
  width: 37px;
  height: 8px;
  background-color: #fff;
  position: absolute;
  border-radius: 5px;
}
#visual .txt a:nth-of-type(1) span::before, #visual .txt a:nth-of-type(1) span::after {
  top: -25px;
  animation: arrowClick 1s infinite alternate;
}
#visual .txt a:nth-of-type(1) span::before {
  transform: rotate(-45deg);
  left: 0;
}
#visual .txt a:nth-of-type(1) span::after {
  transform: rotate(45deg);
  right: 0;
}
#visual .txt a:nth-of-type(2) span::before, #visual .txt a:nth-of-type(2) span::after {
  bottom: -25px;
  animation: arrowScroll 1s infinite alternate;
}
#visual .txt a:nth-of-type(2) span::before {
  transform: rotate(45deg);
  left: 5px;
}
#visual .txt a:nth-of-type(2) span::after {
  transform: rotate(-45deg);
  right: 5px;
}

@keyframes top {
  0% {
    height: 10px;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrowClick {
  0% {
    top: -20px;
  }
  100% {
    top: -40px;
  }
}
@keyframes arrowScroll {
  0% {
    bottom: -20px;
  }
  100% {
    bottom: -40px;
  }
}
#visualConSilver {
  width: 100%;
}
#visualConSilver .inner {
  max-width: 1200px;
  min-width: 800px;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(119, 119, 119, 0.4);
  border-radius: 20px;
}
#visualConSilver .inner h3 {
  font: bold 40px/1 "arial";
  text-align: center;
  color: #fff;
  padding-top: 100px;
}
#visualConSilver .inner h4 {
  font: bold 16px/1 "맑은 고딕";
  text-align: center;
  color: #fff;
  padding-top: 30px;
}
#visualConSilver .inner .contentBox {
  margin: 50px 0;
  display: grid;
  width: 100%;
  padding: 20px;
  grid-template-rows: 300px 300px 300px 500px 300px;
  grid-template-columns: repeat(8, 1fr);
}
#visualConSilver .inner .contentBox .content {
  margin: 20px;
  background-color: #999;
  overflow: hidden;
  border-radius: 20px;
  background-color: #000;
}
#visualConSilver .inner .contentBox .con1 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
  overflow: hidden;
  text-align: center;
  padding: 10px;
}
#visualConSilver .inner .contentBox .con1 img {
  width: 70%;
}
#visualConSilver .inner .contentBox .con1 span {
  display: block;
  background: linear-gradient(#fff, #9cc2d1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 25px/1 "맑은 고딕";
  margin-bottom: 15px;
}
#visualConSilver .inner .contentBox .con2 {
  grid-column-start: 5;
  grid-column-end: 9;
  overflow: hidden;
}
#visualConSilver .inner .contentBox .con2 img {
  float: right;
  width: 310px;
}
#visualConSilver .inner .contentBox .con2 span {
  display: block;
  width: 60%;
  height: 50%;
  background: linear-gradient(#fff, #9cc2d1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 25px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConSilver .inner .contentBox .con2 a {
  display: block;
  background: linear-gradient(#fff, #9cc2d1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 16px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConSilver .inner .contentBox .con3 {
  grid-column-start: 5;
  grid-column-end: 9;
}
#visualConSilver .inner .contentBox .con3 img {
  float: right;
}
#visualConSilver .inner .contentBox .con3 span {
  display: block;
  width: 60%;
  height: 50%;
  background: linear-gradient(#fff, #9cc2d1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 25px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConSilver .inner .contentBox .con3 a {
  display: block;
  background: linear-gradient(#fff, #9cc2d1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 16px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConSilver .inner .contentBox .con4 {
  grid-column-start: 1;
  grid-column-end: 6;
  overflow: hidden;
  position: relative;
  object-fit: fill;
}
#visualConSilver .inner .contentBox .con4 span {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 20px;
  font: bold 25px/1.5 "맑은 고딕";
  color: #eee;
  z-index: 1;
}
#visualConSilver .inner .contentBox .con4 a {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 200px;
  font: bold 16px/1.5 "맑은 고딕";
  color: #eee;
  z-index: 1;
}
#visualConSilver .inner .contentBox .con4 video {
  width: 135%;
  position: absolute;
  bottom: 0;
}
#visualConSilver .inner .contentBox .con5 {
  grid-column-start: 6;
  grid-column-end: 9;
}
#visualConSilver .inner .contentBox .con5 span {
  display: block;
  width: 100%;
  height: 80%;
  background: linear-gradient(#fff, #9cc2d1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 30px/1.5 "맑은 고딕";
  text-align: left;
  padding: 20px;
}
#visualConSilver .inner .contentBox .con5 a {
  display: block;
  background: linear-gradient(#fff, #9cc2d1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 16px/1.5 "맑은 고딕";
  text-align: center;
}
#visualConSilver .inner .contentBox .con6 {
  grid-column-start: 1;
  grid-column-end: 4;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  position: relative;
}
#visualConSilver .inner .contentBox .con6 img {
  position: absolute;
  width: 70%;
  bottom: 0px;
  transform: translateX(-50%);
}
#visualConSilver .inner .contentBox .con6 span {
  display: block;
  width: 100%;
  height: 5%;
  background: linear-gradient(#fff, #9cc2d1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 25px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConSilver .inner .contentBox .con6 a {
  display: block;
  background: linear-gradient(#fff, #9cc2d1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 16px/1.5 "맑은 고딕";
}
#visualConSilver .inner .contentBox .con7 {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 9;
  overflow: hidden;
  position: relative;
}
#visualConSilver .inner .contentBox .con7 img {
  width: 100%;
}
#visualConSilver .inner .contentBox .con7 > span:nth-of-type(1) {
  display: block;
  width: 90%;
  height: 40px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  font: bold 25px/40px "맑은 고딕";
  color: #fff;
  z-index: 1;
}
#visualConSilver .inner .contentBox .con7 > span:nth-of-type(2) {
  display: block;
  width: 50%;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  font: 16px/30px "맑은 고딕";
  color: #fff;
  z-index: 1;
}
#visualConSilver .inner .contentBox .con7 div {
  width: 100%;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  display: flex;
  justify-content: space-around;
}
#visualConSilver .inner .contentBox .con7 div span:nth-of-type(1) {
  width: 30%;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font: 16px/30px "맑은 고딕";
  color: #fff;
}
#visualConSilver .inner .contentBox .con7 div span:nth-of-type(2) {
  width: 30%;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font: 16px/30px "맑은 고딕";
  color: #fff;
}
#visualConSilver .inner .contentBox .con8 {
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
  overflow: hidden;
  position: relative;
}
#visualConSilver .inner .contentBox .con8 img {
  position: absolute;
  left: 100px;
  bottom: -330px;
  width: 400px;
}
#visualConSilver .inner .contentBox .con8 > span {
  display: block;
  width: 100%;
  background: linear-gradient(#fff, #9cc2d1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font: bold 20px/1.5 "맑은 고딕";
  margin-top: 20px;
}
#visualConSilver .inner .contentBox .con8 .cameraCon {
  width: 100%;
  height: 100%;
  position: absolute;
}
#visualConSilver .inner .contentBox .con8 .cameraCon span {
  display: block;
  font: 12px/1.2 "맑은 고딕";
  color: #fff;
  position: absolute;
  width: 80px;
  height: 30px;
}
#visualConSilver .inner .contentBox .con8 .cameraCon span:nth-of-type(1) {
  right: 20px;
  top: 10px;
}
#visualConSilver .inner .contentBox .con8 .cameraCon span:nth-of-type(1)::before {
  display: block;
  content: "";
  width: 1px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  right: 10px;
  bottom: -35px;
}
#visualConSilver .inner .contentBox .con8 .cameraCon span:nth-of-type(2) {
  left: 20px;
  top: 80px;
}
#visualConSilver .inner .contentBox .con8 .cameraCon span:nth-of-type(2)::before {
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: -50px;
  bottom: 10px;
}
#visualConSilver .inner .contentBox .con8 .cameraCon span:nth-of-type(3) {
  left: 20px;
  top: 120px;
}
#visualConSilver .inner .contentBox .con8 .cameraCon span:nth-of-type(3)::before {
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: -50px;
  bottom: 10px;
}
#visualConSilver .inner .contentBox .con8 .cameraCon span:nth-of-type(4) {
  left: 20px;
  top: 160px;
}
#visualConSilver .inner .contentBox .con8 .cameraCon span:nth-of-type(4)::before {
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: -50px;
  bottom: 10px;
}

#visualConLime {
  width: 100%;
}
#visualConLime .inner {
  max-width: 1200px;
  min-width: 800px;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(119, 119, 119, 0.4);
  border-radius: 20px;
}
#visualConLime .inner h3 {
  font: bold 40px/1 "arial";
  text-align: center;
  color: #fff;
  padding-top: 100px;
}
#visualConLime .inner h4 {
  font: bold 16px/1 "맑은 고딕";
  text-align: center;
  color: #fff;
  padding-top: 30px;
}
#visualConLime .inner .contentBox {
  margin: 50px 0;
  display: grid;
  width: 100%;
  padding: 20px;
  grid-template-rows: 300px 300px 300px 500px 300px;
  grid-template-columns: repeat(8, 1fr);
}
#visualConLime .inner .contentBox .content {
  margin: 20px;
  background-color: #999;
  overflow: hidden;
  border-radius: 20px;
  background-color: #000;
}
#visualConLime .inner .contentBox .con1 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
  overflow: hidden;
  text-align: center;
  padding: 10px;
}
#visualConLime .inner .contentBox .con1 img {
  width: 70%;
}
#visualConLime .inner .contentBox .con1 span {
  display: block;
  background: linear-gradient(#e8ff96, #abf0a9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 25px/1 "맑은 고딕";
  margin-bottom: 15px;
}
#visualConLime .inner .contentBox .con2 {
  grid-column-start: 5;
  grid-column-end: 9;
  overflow: hidden;
}
#visualConLime .inner .contentBox .con2 img {
  float: right;
  width: 310px;
}
#visualConLime .inner .contentBox .con2 span {
  display: block;
  width: 60%;
  height: 50%;
  background: linear-gradient(#e8ff96, #abf0a9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 25px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConLime .inner .contentBox .con2 a {
  display: block;
  background: linear-gradient(#e8ff96, #abf0a9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 16px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConLime .inner .contentBox .con3 {
  grid-column-start: 5;
  grid-column-end: 9;
}
#visualConLime .inner .contentBox .con3 img {
  float: right;
}
#visualConLime .inner .contentBox .con3 span {
  display: block;
  width: 60%;
  height: 50%;
  background: linear-gradient(#e8ff96, #abf0a9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 25px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConLime .inner .contentBox .con3 a {
  display: block;
  background: linear-gradient(#e8ff96, #abf0a9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 16px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConLime .inner .contentBox .con4 {
  grid-column-start: 1;
  grid-column-end: 6;
  overflow: hidden;
  position: relative;
  object-fit: fill;
}
#visualConLime .inner .contentBox .con4 span {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 20px;
  font: bold 25px/1.5 "맑은 고딕";
  color: #eee;
  z-index: 1;
}
#visualConLime .inner .contentBox .con4 a {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 200px;
  font: bold 16px/1.5 "맑은 고딕";
  color: #eee;
  z-index: 1;
}
#visualConLime .inner .contentBox .con4 video {
  width: 135%;
  position: absolute;
  bottom: 0;
}
#visualConLime .inner .contentBox .con5 {
  grid-column-start: 6;
  grid-column-end: 9;
}
#visualConLime .inner .contentBox .con5 span {
  display: block;
  width: 100%;
  height: 80%;
  background: linear-gradient(#e8ff96, #abf0a9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 30px/1.5 "맑은 고딕";
  text-align: left;
  padding: 20px;
}
#visualConLime .inner .contentBox .con5 a {
  display: block;
  background: linear-gradient(#e8ff96, #abf0a9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 16px/1.5 "맑은 고딕";
  text-align: center;
}
#visualConLime .inner .contentBox .con6 {
  grid-column-start: 1;
  grid-column-end: 4;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  position: relative;
}
#visualConLime .inner .contentBox .con6 img {
  position: absolute;
  width: 70%;
  bottom: 0px;
  transform: translateX(-50%);
}
#visualConLime .inner .contentBox .con6 span {
  display: block;
  width: 100%;
  height: 5%;
  background: linear-gradient(#e8ff96, #abf0a9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 25px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConLime .inner .contentBox .con6 a {
  display: block;
  background: linear-gradient(#e8ff96, #abf0a9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 16px/1.5 "맑은 고딕";
}
#visualConLime .inner .contentBox .con7 {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 9;
  overflow: hidden;
  position: relative;
}
#visualConLime .inner .contentBox .con7 img {
  width: 100%;
}
#visualConLime .inner .contentBox .con7 > span:nth-of-type(1) {
  display: block;
  width: 90%;
  height: 40px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  font: bold 25px/40px "맑은 고딕";
  color: #fff;
  z-index: 1;
}
#visualConLime .inner .contentBox .con7 > span:nth-of-type(2) {
  display: block;
  width: 50%;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  font: 16px/30px "맑은 고딕";
  color: #fff;
  z-index: 1;
}
#visualConLime .inner .contentBox .con7 div {
  width: 100%;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  display: flex;
  justify-content: space-around;
}
#visualConLime .inner .contentBox .con7 div span:nth-of-type(1) {
  width: 30%;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font: 16px/30px "맑은 고딕";
  color: #fff;
}
#visualConLime .inner .contentBox .con7 div span:nth-of-type(2) {
  width: 30%;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font: 16px/30px "맑은 고딕";
  color: #fff;
}
#visualConLime .inner .contentBox .con8 {
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
  overflow: hidden;
  position: relative;
}
#visualConLime .inner .contentBox .con8 img {
  position: absolute;
  left: 100px;
  bottom: -330px;
  width: 400px;
}
#visualConLime .inner .contentBox .con8 > span {
  display: block;
  width: 100%;
  background: linear-gradient(#e8ff96, #abf0a9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font: bold 20px/1.5 "맑은 고딕";
  margin-top: 20px;
}
#visualConLime .inner .contentBox .con8 .cameraCon {
  width: 100%;
  height: 100%;
  position: absolute;
}
#visualConLime .inner .contentBox .con8 .cameraCon span {
  display: block;
  font: 12px/1.2 "맑은 고딕";
  color: #fff;
  position: absolute;
  width: 80px;
  height: 30px;
}
#visualConLime .inner .contentBox .con8 .cameraCon span:nth-of-type(1) {
  right: 20px;
  top: 10px;
}
#visualConLime .inner .contentBox .con8 .cameraCon span:nth-of-type(1)::before {
  display: block;
  content: "";
  width: 1px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  right: 10px;
  bottom: -35px;
}
#visualConLime .inner .contentBox .con8 .cameraCon span:nth-of-type(2) {
  left: 20px;
  top: 80px;
}
#visualConLime .inner .contentBox .con8 .cameraCon span:nth-of-type(2)::before {
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: -50px;
  bottom: 10px;
}
#visualConLime .inner .contentBox .con8 .cameraCon span:nth-of-type(3) {
  left: 20px;
  top: 120px;
}
#visualConLime .inner .contentBox .con8 .cameraCon span:nth-of-type(3)::before {
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: -50px;
  bottom: 10px;
}
#visualConLime .inner .contentBox .con8 .cameraCon span:nth-of-type(4) {
  left: 20px;
  top: 160px;
}
#visualConLime .inner .contentBox .con8 .cameraCon span:nth-of-type(4)::before {
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: -50px;
  bottom: 10px;
}

#visualConViolet {
  width: 100%;
}
#visualConViolet .inner {
  max-width: 1200px;
  min-width: 800px;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(119, 119, 119, 0.4);
  border-radius: 20px;
}
#visualConViolet .inner h3 {
  font: bold 40px/1 "arial";
  text-align: center;
  color: #fff;
  padding-top: 100px;
}
#visualConViolet .inner h4 {
  font: bold 16px/1 "맑은 고딕";
  text-align: center;
  color: #fff;
  padding-top: 30px;
}
#visualConViolet .inner .contentBox {
  margin: 50px 0;
  display: grid;
  width: 100%;
  padding: 20px;
  grid-template-rows: 300px 300px 300px 500px 300px;
  grid-template-columns: repeat(8, 1fr);
}
#visualConViolet .inner .contentBox .content {
  margin: 20px;
  background-color: #999;
  overflow: hidden;
  border-radius: 20px;
  background-color: #000;
}
#visualConViolet .inner .contentBox .con1 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
  overflow: hidden;
  text-align: center;
  padding: 10px;
}
#visualConViolet .inner .contentBox .con1 img {
  width: 70%;
}
#visualConViolet .inner .contentBox .con1 span {
  display: block;
  background: linear-gradient(#fcd6fd, #b09df7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 25px/1 "맑은 고딕";
  margin-bottom: 15px;
}
#visualConViolet .inner .contentBox .con2 {
  grid-column-start: 5;
  grid-column-end: 9;
  overflow: hidden;
}
#visualConViolet .inner .contentBox .con2 img {
  float: right;
  width: 310px;
}
#visualConViolet .inner .contentBox .con2 span {
  display: block;
  width: 60%;
  height: 50%;
  background: linear-gradient(#fcd6fd, #b09df7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 25px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConViolet .inner .contentBox .con2 a {
  display: block;
  background: linear-gradient(#fcd6fd, #b09df7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 16px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConViolet .inner .contentBox .con3 {
  grid-column-start: 5;
  grid-column-end: 9;
}
#visualConViolet .inner .contentBox .con3 img {
  float: right;
}
#visualConViolet .inner .contentBox .con3 span {
  display: block;
  width: 60%;
  height: 50%;
  background: linear-gradient(#fcd6fd, #b09df7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 25px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConViolet .inner .contentBox .con3 a {
  display: block;
  background: linear-gradient(#fcd6fd, #b09df7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 16px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConViolet .inner .contentBox .con4 {
  grid-column-start: 1;
  grid-column-end: 6;
  overflow: hidden;
  position: relative;
  object-fit: fill;
}
#visualConViolet .inner .contentBox .con4 span {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 20px;
  font: bold 25px/1.5 "맑은 고딕";
  color: #eee;
  z-index: 1;
}
#visualConViolet .inner .contentBox .con4 a {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 200px;
  font: bold 16px/1.5 "맑은 고딕";
  color: #eee;
  z-index: 1;
}
#visualConViolet .inner .contentBox .con4 video {
  width: 135%;
  position: absolute;
  bottom: 0;
}
#visualConViolet .inner .contentBox .con5 {
  grid-column-start: 6;
  grid-column-end: 9;
}
#visualConViolet .inner .contentBox .con5 span {
  display: block;
  width: 100%;
  height: 80%;
  background: linear-gradient(#fcd6fd, #b09df7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 30px/1.5 "맑은 고딕";
  text-align: left;
  padding: 20px;
}
#visualConViolet .inner .contentBox .con5 a {
  display: block;
  background: linear-gradient(#fcd6fd, #b09df7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 16px/1.5 "맑은 고딕";
  text-align: center;
}
#visualConViolet .inner .contentBox .con6 {
  grid-column-start: 1;
  grid-column-end: 4;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  position: relative;
}
#visualConViolet .inner .contentBox .con6 img {
  position: absolute;
  width: 70%;
  bottom: 0px;
  transform: translateX(-50%);
}
#visualConViolet .inner .contentBox .con6 span {
  display: block;
  width: 100%;
  height: 5%;
  background: linear-gradient(#fcd6fd, #b09df7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 25px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConViolet .inner .contentBox .con6 a {
  display: block;
  background: linear-gradient(#fcd6fd, #b09df7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 16px/1.5 "맑은 고딕";
}
#visualConViolet .inner .contentBox .con7 {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 9;
  overflow: hidden;
  position: relative;
}
#visualConViolet .inner .contentBox .con7 img {
  width: 100%;
}
#visualConViolet .inner .contentBox .con7 > span:nth-of-type(1) {
  display: block;
  width: 90%;
  height: 40px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  font: bold 25px/40px "맑은 고딕";
  color: #fff;
  z-index: 1;
}
#visualConViolet .inner .contentBox .con7 > span:nth-of-type(2) {
  display: block;
  width: 50%;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  font: 16px/30px "맑은 고딕";
  color: #fff;
  z-index: 1;
}
#visualConViolet .inner .contentBox .con7 div {
  width: 100%;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  display: flex;
  justify-content: space-around;
}
#visualConViolet .inner .contentBox .con7 div span:nth-of-type(1) {
  width: 30%;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font: 16px/30px "맑은 고딕";
  color: #fff;
}
#visualConViolet .inner .contentBox .con7 div span:nth-of-type(2) {
  width: 30%;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font: 16px/30px "맑은 고딕";
  color: #fff;
}
#visualConViolet .inner .contentBox .con8 {
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
  overflow: hidden;
  position: relative;
}
#visualConViolet .inner .contentBox .con8 img {
  position: absolute;
  left: 100px;
  bottom: -330px;
  width: 400px;
}
#visualConViolet .inner .contentBox .con8 > span {
  display: block;
  width: 100%;
  background: linear-gradient(#fcd6fd, #b09df7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font: bold 20px/1.5 "맑은 고딕";
  margin-top: 20px;
}
#visualConViolet .inner .contentBox .con8 .cameraCon {
  width: 100%;
  height: 100%;
  position: absolute;
}
#visualConViolet .inner .contentBox .con8 .cameraCon span {
  display: block;
  font: 12px/1.2 "맑은 고딕";
  color: #fff;
  position: absolute;
  width: 80px;
  height: 30px;
}
#visualConViolet .inner .contentBox .con8 .cameraCon span:nth-of-type(1) {
  right: 20px;
  top: 10px;
}
#visualConViolet .inner .contentBox .con8 .cameraCon span:nth-of-type(1)::before {
  display: block;
  content: "";
  width: 1px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  right: 10px;
  bottom: -35px;
}
#visualConViolet .inner .contentBox .con8 .cameraCon span:nth-of-type(2) {
  left: 20px;
  top: 80px;
}
#visualConViolet .inner .contentBox .con8 .cameraCon span:nth-of-type(2)::before {
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: -50px;
  bottom: 10px;
}
#visualConViolet .inner .contentBox .con8 .cameraCon span:nth-of-type(3) {
  left: 20px;
  top: 120px;
}
#visualConViolet .inner .contentBox .con8 .cameraCon span:nth-of-type(3)::before {
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: -50px;
  bottom: 10px;
}
#visualConViolet .inner .contentBox .con8 .cameraCon span:nth-of-type(4) {
  left: 20px;
  top: 160px;
}
#visualConViolet .inner .contentBox .con8 .cameraCon span:nth-of-type(4)::before {
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: -50px;
  bottom: 10px;
}

#visualConGraphite {
  width: 100%;
}
#visualConGraphite .inner {
  max-width: 1200px;
  min-width: 800px;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(119, 119, 119, 0.4);
  border-radius: 20px;
}
#visualConGraphite .inner h3 {
  font: bold 40px/1 "arial";
  text-align: center;
  color: #fff;
  padding-top: 100px;
}
#visualConGraphite .inner h4 {
  font: bold 16px/1 "맑은 고딕";
  text-align: center;
  color: #fff;
  padding-top: 30px;
}
#visualConGraphite .inner .contentBox {
  margin: 50px 0;
  display: grid;
  width: 100%;
  padding: 20px;
  grid-template-rows: 300px 300px 300px 500px 300px;
  grid-template-columns: repeat(8, 1fr);
}
#visualConGraphite .inner .contentBox .content {
  margin: 20px;
  background-color: #999;
  overflow: hidden;
  border-radius: 20px;
  background-color: #000;
}
#visualConGraphite .inner .contentBox .con1 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
  overflow: hidden;
  text-align: center;
  padding: 10px;
}
#visualConGraphite .inner .contentBox .con1 img {
  width: 70%;
}
#visualConGraphite .inner .contentBox .con1 span {
  display: block;
  background: linear-gradient(#d8d8d8, #5b5c5c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 25px/1 "맑은 고딕";
  margin-bottom: 15px;
}
#visualConGraphite .inner .contentBox .con2 {
  grid-column-start: 5;
  grid-column-end: 9;
  overflow: hidden;
}
#visualConGraphite .inner .contentBox .con2 img {
  float: right;
  width: 310px;
}
#visualConGraphite .inner .contentBox .con2 span {
  display: block;
  width: 60%;
  height: 50%;
  background: linear-gradient(#d8d8d8, #5b5c5c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 25px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConGraphite .inner .contentBox .con2 a {
  display: block;
  background: linear-gradient(#d8d8d8, #5b5c5c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 16px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConGraphite .inner .contentBox .con3 {
  grid-column-start: 5;
  grid-column-end: 9;
}
#visualConGraphite .inner .contentBox .con3 img {
  float: right;
}
#visualConGraphite .inner .contentBox .con3 span {
  display: block;
  width: 60%;
  height: 50%;
  background: linear-gradient(#d8d8d8, #5b5c5c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 25px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConGraphite .inner .contentBox .con3 a {
  display: block;
  background: linear-gradient(#d8d8d8, #5b5c5c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 16px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConGraphite .inner .contentBox .con4 {
  grid-column-start: 1;
  grid-column-end: 6;
  overflow: hidden;
  position: relative;
  object-fit: fill;
}
#visualConGraphite .inner .contentBox .con4 span {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 20px;
  font: bold 25px/1.5 "맑은 고딕";
  color: #eee;
  z-index: 1;
}
#visualConGraphite .inner .contentBox .con4 a {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 200px;
  font: bold 16px/1.5 "맑은 고딕";
  color: #eee;
  z-index: 1;
}
#visualConGraphite .inner .contentBox .con4 video {
  width: 135%;
  position: absolute;
  bottom: 0;
}
#visualConGraphite .inner .contentBox .con5 {
  grid-column-start: 6;
  grid-column-end: 9;
}
#visualConGraphite .inner .contentBox .con5 span {
  display: block;
  width: 100%;
  height: 80%;
  background: linear-gradient(#d8d8d8, #5b5c5c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 30px/1.5 "맑은 고딕";
  text-align: left;
  padding: 20px;
}
#visualConGraphite .inner .contentBox .con5 a {
  display: block;
  background: linear-gradient(#d8d8d8, #5b5c5c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 16px/1.5 "맑은 고딕";
  text-align: center;
}
#visualConGraphite .inner .contentBox .con6 {
  grid-column-start: 1;
  grid-column-end: 4;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  position: relative;
}
#visualConGraphite .inner .contentBox .con6 img {
  position: absolute;
  width: 70%;
  bottom: 0px;
  transform: translateX(-50%);
  opacity: 0.5;
}
#visualConGraphite .inner .contentBox .con6 span {
  display: block;
  width: 100%;
  height: 5%;
  background: linear-gradient(#d8d8d8, #5b5c5c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 25px/1.5 "맑은 고딕";
  padding: 40px;
}
#visualConGraphite .inner .contentBox .con6 a {
  display: block;
  background: linear-gradient(#d8d8d8, #5b5c5c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: bold 16px/1.5 "맑은 고딕";
}
#visualConGraphite .inner .contentBox .con7 {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 9;
  overflow: hidden;
  position: relative;
}
#visualConGraphite .inner .contentBox .con7 img {
  width: 100%;
}
#visualConGraphite .inner .contentBox .con7 > span:nth-of-type(1) {
  display: block;
  width: 90%;
  height: 40px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  font: bold 25px/40px "맑은 고딕";
  color: #fff;
  z-index: 1;
}
#visualConGraphite .inner .contentBox .con7 > span:nth-of-type(2) {
  display: block;
  width: 50%;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  font: 16px/30px "맑은 고딕";
  color: #fff;
  z-index: 1;
}
#visualConGraphite .inner .contentBox .con7 div {
  width: 100%;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  display: flex;
  justify-content: space-around;
}
#visualConGraphite .inner .contentBox .con7 div span:nth-of-type(1) {
  width: 30%;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font: 16px/30px "맑은 고딕";
  color: #fff;
}
#visualConGraphite .inner .contentBox .con7 div span:nth-of-type(2) {
  width: 30%;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font: 16px/30px "맑은 고딕";
  color: #fff;
}
#visualConGraphite .inner .contentBox .con8 {
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
  overflow: hidden;
  position: relative;
}
#visualConGraphite .inner .contentBox .con8 img {
  position: absolute;
  left: 100px;
  bottom: -330px;
  width: 400px;
}
#visualConGraphite .inner .contentBox .con8 > span {
  display: block;
  width: 100%;
  background: linear-gradient(#d8d8d8, #5b5c5c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font: bold 20px/1.5 "맑은 고딕";
  margin-top: 20px;
}
#visualConGraphite .inner .contentBox .con8 .cameraCon {
  width: 100%;
  height: 100%;
  position: absolute;
}
#visualConGraphite .inner .contentBox .con8 .cameraCon span {
  display: block;
  font: 12px/1.2 "맑은 고딕";
  color: #fff;
  position: absolute;
  width: 80px;
  height: 30px;
}
#visualConGraphite .inner .contentBox .con8 .cameraCon span:nth-of-type(1) {
  right: 20px;
  top: 10px;
}
#visualConGraphite .inner .contentBox .con8 .cameraCon span:nth-of-type(1)::before {
  display: block;
  content: "";
  width: 1px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  right: 10px;
  bottom: -35px;
}
#visualConGraphite .inner .contentBox .con8 .cameraCon span:nth-of-type(2) {
  left: 20px;
  top: 80px;
}
#visualConGraphite .inner .contentBox .con8 .cameraCon span:nth-of-type(2)::before {
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: -50px;
  bottom: 10px;
}
#visualConGraphite .inner .contentBox .con8 .cameraCon span:nth-of-type(3) {
  left: 20px;
  top: 120px;
}
#visualConGraphite .inner .contentBox .con8 .cameraCon span:nth-of-type(3)::before {
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: -50px;
  bottom: 10px;
}
#visualConGraphite .inner .contentBox .con8 .cameraCon span:nth-of-type(4) {
  left: 20px;
  top: 160px;
}
#visualConGraphite .inner .contentBox .con8 .cameraCon span:nth-of-type(4)::before {
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: -50px;
  bottom: 10px;
}

#contentMore article {
  width: 100%;
  height: 100vh;
  background-color: #333;
  color: #fff;
  padding: 20px;
}
#contentMore article .inner {
  padding: 20px;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #222;
}
#contentMore article .inner h3 {
  font: bold 25px/1 "맑은 고딕";
  margin: 50px;
}
#contentMore article .inner p {
  font: 12px/1.2 "맑은 고딕";
  letter-spacing: -1px;
  margin-bottom: 50px;
}

#display .morePhoto {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-around;
}
#display .morePhoto div {
  border-radius: 20px;
  width: 40%;
  height: 400px;
  overflow: hidden;
}
#display .morePhoto div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
