header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 100;
  opacity: 1;

  .inner {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    h1 {
      width: 150px;
      height: 100%;
      margin-left: 20px;
      margin-top: 15px;

      a {
        position: relative;

        img {
          width: 100px;
          margin-bottom: 10px;
        }
      }

      span {
        position: absolute;
        width: 150px;
        bottom: 0;
        left: 0;
        font: 12px/1 "맑은 고딕";
        color: #fff;
      }
    }

    nav {
      .gnb {
        display: flex;
        position: relative;
        margin-right: 20px;

        li {
          a {
            text-align: center;
            display: block;
            width: 8vw;
            height: 80px;
            color: #fff;
            font: bold 14px/80px "맑은 고딕";
            transition: 0.5s;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    .buy {
      width: 250px;
      height: 40px;
      margin-top: 20px;
      margin-right: 20px;
      border-radius: 30px;
      border: none;
      outline: none;
      background-color: #0c4da2;
      transition: background-color 0.5s;
      overflow: hidden;

      a {
        display: block;
        width: 250px;
        height: 40px;
        color: #fff;
        font: bold 18px/40px "맑은 고딕";
        transition: color 0.5s;
      }

      &:hover {
        background-color: #fff;

        a {
          color: #0c4da2;
        }

        div {
          left: 210px;
        }
      }

      div {
        position: relative;
        left: -190px;
        width: 300px;
        height: 40px;
        background: linear-gradient(rgb(255, 255, 255),
            rgb(252, 252, 217),
            rgb(243, 215, 242),
            rgb(255, 255, 255));
        transform: rotate(45deg);
        transition: 0.5s;
        box-shadow: 1px 1px 20px 20px #fff;
      }
    }


  }

  .btns {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    top: -1000px;
    transition: 0.5s;
    opacity: 0;
 

    ul {
      display: flex;
      flex-direction: column;
      justify-content:space-around;
      align-items: center;
      margin-right: 20px;
      width: 80px;
      height: 400px;
      border-radius: 50px;
      background-color: rgba($color: #000000, $alpha: 0.4);
      border: 2px solid #bbb;
      float: right;
     

      .btn {
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &.on {
          .clip {
            border: 2px solid #fff;
          }

          span {
            font: bold 17px/1 "arial";
          }
        }

        &:hover {
          .clip {
            border: 2px solid #fff;
          }
        }

        .clip {
          width: 20px;
          height: 20px;
          border-radius: 10px;
          margin-bottom: 10px;
          cursor: pointer;
        }

        span {
          font: 12px/1 "arial";
        }

        &:nth-of-type(1) {
          .clip {
            background: linear-gradient(#fff, #9cc2d1);
          }

          span {
            background: linear-gradient(#fff, #9cc2d1);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
          }
        }

        &:nth-of-type(2) {
          .clip {
            background: linear-gradient(#e8ff96, #abf0a9);
          }

          span {
            background: linear-gradient(#e8ff96, #abf0a9);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
          }
        }

        &:nth-of-type(3) {
          .clip {
            background: linear-gradient(#fcd6fd, #b09df7);
          }

          span {
            background: linear-gradient(#fcd6fd, #b09df7);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
          }
        }

        &:nth-of-type(4) {
          .clip {
            background: linear-gradient(#d8d8d8, #5b5c5c);
          }

          span {
            background: linear-gradient(#d8d8d8, #5b5c5c);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
          }
        }
      }
    }
  }

}