#visual2 {
    width: 100%;

    .inner {
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;

        h3 {
            font: bold 40px/1 'arial';
            text-align: center;
            color: #fff;
            padding-top: 100px;
        }

        h4 {
            font: bold 16px/1 '맑은 고딕';
            text-align: center;
            color: #fff;
            padding-top: 30px;
        }

        .contentBox {
            display: grid;
            width: 100%;
            padding: 20px;
            grid-template-rows: 300px 300px 300px 300px 300px;
            grid-template-columns: repeat(8, 1fr);


            .content {
                margin: 10px;
                background-color: #999;
            }

            .con1 {
                grid-row-start: 1;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 5;
            }

            .con2 {
                grid-column-start: 5;
                grid-column-end: 9;
            }

            .con3 {
                grid-column-start: 5;
                grid-column-end: 9;
            }

            .con4 {
                grid-column-start: 1;
                grid-column-end: 6;
            }

            .con5 {
                grid-column-start: 6;
                grid-column-end: 9;
            }

            .con6 {
                grid-column-start: 1;
                grid-column-end: 4;
            }

            .con7 {
                grid-column-start: 4;
                grid-column-end: 8;
            }


        }
    }
}